#peptideoverlay table{border-collapse: collapse; margin: 1.5em auto; width: 100%; background-color: #fdf6e3;}
#peptideoverlay th,td{font-size: 12px; border: 0px solid #aaa; padding: .3em; vertical-align: top; text-align: left;}
#peptideoverlay td{font-size: 12px; border: 0px solid #aaa; padding: .3em; vertical-align: top; text-align: left;}
#peptideoverlay text {font-size: 12px} 
.axis text {
  font: 12px arial,sans-serif;
}


.fragment_label  {
    font-size: 7pt;
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
    text-anchor: middle;
}

.peptide {
    stroke: black;
    fill: none;
    stroke-width: 2;
}

.update {
    fill: #000;
}

.basepeaks.line {
    stroke-width: 3;
    fill: none;
}

.basepeaku.line {
    stroke-width: 1;
    fill: none;
}

.spectrum.line {
    stroke-width: 2;
    fill: none;
}

.rmsd.line {
    stroke-width: 0.1;
    fill: grey;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: black;
}

.x.axis .minor {
}

.x.axis path {
    stroke: #000;
    stroke-width: 2;
    fill: none;
}

line.iso.line {
    stroke: #000;
    stroke-width: 1;
    stroke-dasharray: 5,5;
}

line.iso.height {
    stroke: blue;
    stroke-width: 2;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.overlay
{
  background-color: #FFFFFF;
opacity: 1;
filter: alpha(opacity=70);
position: fixed;
top: 20%;
left: 20%;
width: 800px;
height: 450px;
z-index: 10;
border-radius: 15px;
border: 3px black  solid;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration:none;
    color: black;
}

.scaninfotable {
    position: absolute;
    top: 100px;
    left: 675px;
    text-align: left;
}

.scaninfokey {
    font-size: 7.5pt;
    font-weight: bold;
    margin-left: 5px;
    display: block;
}

.scaninfovalue {
    font-size: 7.5pt;
    margin-left: 10px;
}

.arrleft {
    font-size: 36px;
    position: absolute;
    top: 20px;
    right: 40px;
    text-decoration:none;
    color: black;
}
.arrright {
    font-size: 36px;
    position: absolute;
    top: 20px;
    right: 15px;
    text-decoration:none;
    color: black;
}


.ms2peaks
{
    stroke: black;
    stroke-width: 2px;
}
-->
